{% extends 'base_calendar.html' %}
{% load static %}
{% block title %}{{page_title }}{% endblock %}
{% block content %}
<div id='content'>
	<!-- <div class="text-2xl font-extrabold tracking-tight leading-none text-gray-400">
		{{ user.public_hall.name }}公民館 日程管理
	</div> -->
	<!-- <div id='external-events2'>
		<h4>追加EVENT</h4>
		<div id='external-events-list2'>
			<div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
				<div class='fc-event-main' GroupId="123">My Event 1</div>
			</div>
			<div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
				<div class='fc-event-main'>My Event 2</div>
			</div>
			<div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
				<div class='fc-event-main'>My Event 3</div>
			</div>
			<div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
				<div class='fc-event-main'>My Event 4</div>
			</div>
			<div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
				<div class='fc-event-main'>My Event 5</div>
			</div>
		</div>
		<p>
			<input type='checkbox' id='drop-remove' />
			<label for='drop-remove'>remove after drop</label>
		</p>
	</div> -->

	<div id='calendar-wrap'>
		<div id='calendar'></div>
	</div>
</div>
<script>
	/* initialize the external events
-----------------------------------------------------------------*/

	const containerEl = document.querySelector('#external-events-list');
	new FullCalendar.Draggable(containerEl, {
		itemSelector: '.fc-event',
		eventData: (eventEl) => {
			return {
				title: eventEl.innerText.trim()
			}
		}
	});
	/* initialize the calendar
	-----------------------------------------------------------------*/

	const calendarEl = document.querySelector('#calendar');
	const calendar = new FullCalendar.Calendar(calendarEl, {
		timeZone: 'UTC',
		headerToolbar: {
			left: ' today,prev,next',
			center: 'title',
			// right: 'Event,Setting,multiMonthYear,dayGridMonth,timeGridWeek,listWeek'
			right: 'multiMonthYear,dayGridMonth,timeGridWeek,listWeek'
		},
		initialView: 'dayGridMonth',
		locale: 'ja',
		editable: true,
		droppable: true, // this allows things to be dropped onto the calendar
		// イベント追加
		drop: (arg) => {
			// 対象項目のDBを追加⇒再表示
			console.log("追加", arg);
			AddEventRendar();
		},
		// イベント移動
		eventDrop: (info) => {
			// 対象項目のDBを変更⇒再表示
			console.log("移動", info);
		},
		// イベント削除
		eventClick: (event) => {
			// 対象項目のDBを削除⇒再表示
			console.log("削除", event);
			RemoveEventRendar();
		},
		// 通常表示
		//　DBの内容を表示
		// Eventの項目
		// https://fullcalendar.io/docs/event-object
		events: [
			{
				classNames: ['event-holiday'],
				title: '休館日',
				start: '2025-06-02',
				allDay: true,
				id: "123",
				groupId: "1234",
				textColor: "WHITE",
				backgroundColor: "RED",
			}
		]
	});

	const EventRendar = () => {
		// Event 追加
		calendar.addEvent({
			title: 'テスト',
			start: '2025-06-06',
			allDay: true,
			id:"1111",
		});
		// Event 削除
		// calendar.getEventById("123").remove();
		calendar.render();
		// EventのDrag & Dropの挙動
		// https://qiita.com/si-ma/items/b2cd87444e5e24c8d286
	}
	const AddEventRendar = () => {
		// Event 追加
		calendar.addEvent({
			title: 'テスト',
			start: '2025-06-06',
			allDay: true,
		});
		// Event 削除
		// calendar.getEventById("123").remove();
		calendar.render();
		// EventのDrag & Dropの挙動
		// https://qiita.com/si-ma/items/b2cd87444e5e24c8d286
	}	
	const RemoveEventRendar = () => {

		// Event 削除
		calendar.getEventById("123").remove();
		calendar.render();
		// EventのDrag & Dropの挙動
		// https://qiita.com/si-ma/items/b2cd87444e5e24c8d286
	}
	// 読み込み時に表示
	document.addEventListener('DOMContentLoaded', () => {
		EventRendar();
	});
</script>
{% endblock %}