{% extends 'base_calendar.html' %}
{% load static %}
{% block title %}{{page_title }}{% endblock %}
{% block content %}
<style>
	.event-holiday {
		background-color: #CC0000 !important;
	}
</style>
<div id='content'>
	<div id='calendar-wrap'>
		<div id='calendar'></div>
	</div>
</div>
<!-- Modal Delete -->
{% include 'event_manager/modals/modal_calendar_delete.html' %}
<script>
	/* initialize the external events
-----------------------------------------------------------------*/
	const UAGE_RECORD_GROUP = "usageRecord";
	const HOLIDAY_GROUP = "holiday";
	const containerEl = document.querySelector('#external-events-list');
	new FullCalendar.Draggable(containerEl, {
		itemSelector: '.fc-event',
		eventData: (eventEl) => {
			return {
				title: eventEl.innerText.trim()
			}
		}
	});
	/* initialize the calendar
	-----------------------------------------------------------------*/

	const calendarEl = document.querySelector('#calendar');
	const calendar = new FullCalendar.Calendar(calendarEl, {
		timeZone: 'UTC',
		headerToolbar: {
			left: ' today,prev,next',
			center: 'title',
			// right: 'Event,Setting,multiMonthYear,dayGridMonth,timeGridWeek,listWeek'
			right: 'multiMonthYear,dayGridMonth,timeGridWeek,listWeek'
		},
		initialView: 'dayGridMonth',
		locale: 'ja',
		editable: true,
		droppable: true, // this allows things to be dropped onto the calendar
		// イベント追加
		drop: (arg) => {
			// 対象項目のDBを追加⇒再表示
			console.log("追加", arg);
			AddEventRendar();
		},
		// イベント移動
		eventDrop: (info) => {
			// 対象項目のDBを変更⇒再表示
			console.log("移動", info);
		},
		// イベント削除
		eventClick: (event) => {
			console.log("削除", event.event._def.publicId);
			RemoveEventRendar(event);
		},
		eventMouseEnter: (event) => {
			console.log("MouseEnter", event.event._def.publicId);
			// RemoveEventRendar(event);
		},
		eventMouseLeave: (event) => {
			console.log("MouseLeave", event.event._def.publicId);
			// RemoveEventRendar(event);
		},
		// https://atomiks.github.io/tippyjs/
		// eventDidMount: (e)=>{// カレンダーに配置された時のイベント
		// tippy(e.el, {// TippyでTooltipを設定する
		// 	content: e.event.extendedProps.description,
		// 	});
		// },
		// 通常表示
		//　DBの内容を表示
		// Eventの項目
		// https://fullcalendar.io/docs/event-objecta
		events: []
	});

	const EventRendarHoliday = async (year) => {
		// 休日データの取得
		try {
			// API経由でData取得
			const CreateEndPoint =
				"/api/event_manager/holidaycalendar/?year=" + year;
			let response = await fetch(CreateEndPoint, {
				method: "GET",
				headers: {
					"X-CSRFToken": getCookie("csrftoken"),
					"Content-Type": "application/json",
				},
			});
			let result = await response.json(); // 読み込むのはJSON部分（ヘッダー等は削除）

			for (let i = 0; i < result.length; i++) {
				let data = result[i];
				calendar.addEvent({
					title: data.name,
					start: data.date,
					allDay: true,
					id: data.id,
					classNames: "event-holiday",
					groupId: HOLIDAY_GROUP,
				});
			}
			calendar.render();
		} catch (error) {
			console.error("GET API通信エラーが発生しました,error");
		}

		// Event 削除
		// calendar.getEventById("123").remove();

		// EventのDrag & Dropの挙動
		// https://qiita.com/si-ma/items/b2cd87444e5e24c8d286
	}

	const EventRendarUsageRecord = async (year) => {
		// 休日データの取得
		try {
			// API経由でData取得
			const CreateEndPoint =
				"/api/event_manager/usagerecord/?year=" + year;
			let response = await fetch(CreateEndPoint, {
				method: "GET",
				headers: {
					"X-CSRFToken": getCookie("csrftoken"),
					"Content-Type": "application/json",
				},
			});
			let result = await response.json(); // 読み込むのはJSON部分（ヘッダー等は削除）

			for (let i = 0; i < result.length; i++) {
				let data = result[i];
				calendar.addEvent({
					title: data.user.organization_name+'('+data.room1.name+')',
					start: data.date_of_use+'T'+data.start_time,
					end: data.date_of_use+'T'+data.end_time,
					allDay: false,
					id: data.id,
					classNames: "event-usage-record",
					groupId: UAGE_RECORD_GROUP,
				});
			}
			calendar.render();
		} catch (error) {
			console.error("GET API通信エラーが発生しました,error");
		}

		// Event 削除
		// calendar.getEventById("123").remove();

		// EventのDrag & Dropの挙動
		// https://qiita.com/si-ma/items/b2cd87444e5e24c8d286
	}
	const AddEventRendar = () => {
		// Event 追加
		calendar.addEvent({
			title: 'テスト',
			start: '2025-06-06',
			allDay: true,
		});
		// Event 削除
		// calendar.getEventById("123").remove();
		calendar.render();
		// EventのDrag & Dropの挙動
		// https://qiita.com/si-ma/items/b2cd87444e5e24c8d286
	}
	const CallBackRemove = ( id ) => {
		// Event 削除
		calendar.getEventById(id).remove();
		calendar.render();
	}
	const RemoveEventRendar = (event) => {
		let title= event.event._def.title;
		let id = event.event._def.publicId;
		let event_id = event.event._def.defId;
		let url = "/event_manager/usagerecord/modal/" + id + "/delete"
		let date = event.event._instance.range.start.toLocaleDateString();
		if( event.event._def.groupId == HOLIDAY_GROUP)
		{
			url = "/event_manager/holidaycalendar/modal/" + id + "/delete";
		}
		Delete(url, title, date, event_id, CallBackRemove );
  		const modal = document.querySelector('#delete-modal');
  		modal.classList.add("flex");
  		modal.classList.remove("hidden");

		// EventのDrag & Dropの挙動
		// https://qiita.com/si-ma/items/b2cd87444e5e24c8d286
	}
	// 読み込み時に表示
	document.addEventListener('DOMContentLoaded', () => {
		let today = new Date();
		const year = today.getFullYear();
		EventRendarHoliday(year);
		EventRendarUsageRecord(year);
	});
</script>
{% endblock %}