<div id="delete-modal" tabindex="-1"
	class="js-modal hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full h-[calc(100%-1rem)] max-h-full bg-gray-500/50">
	<div class="relative p-4 w-full max-w-md max-h-full">
		<!-- Modal content -->
		<div class="relative bg-white rounded-lg shadow">
			<!-- Modal header -->
			<div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
				<h3 class="text-xl font-semibold text-gray-900">{{ page_title }}削除</h3>
				<button type="button"
					class="modal-close-button end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
					data-modal-hide="authentication-modal" data-modal-target="#delete-modal">
					<svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
			</div>
			<!-- Modal body -->
			<div class="p-4">
				<div class="mb-4 text-2xl bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
					role="alert">
					<strong class="font-bold">注意！</strong>
					<span class="block">下記の内容が削除されます。</span>
				</div>
			</div>
			<div class="p-4 grid grid-cols-2 gap-4">
				<div>
					<label for="organization_name" class="block mb-2 text-xl font-medium text-gray-900">使用団体名</label>
					<input type="text" name="organization_name"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						readonly="readonly" id="id_delete_organization_name">
				</div>
				<div>
					<label for="usage_category" class="block mb-2 text-xl font-medium text-gray-900">使用区分</label>
					<input type="text" name="usage_category"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						readonly="readonly" id="id_delete_usage_category">
				</div>
				<div>
					<label for="educational_category"
						class="block mb-2 text-xl font-medium text-gray-900">教育事業区分</label>
					<input type="text" name="educational_category"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						readonly="readonly" id="id_delete_educational_category">
				</div>
				<div>
					<label for="day_of_week" class="block mb-2 text-xl font-medium text-gray-900">曜日指定</label>
					<input type="text" name="day_of_week"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						readonly="readonly" id="id_delete_day_of_week">
				</div>
				<div>
					<label for="semiweekly" class="block mb-2 text-xl font-medium text-gray-900">隔週指定</label>
					<input type="text" name="semiweekly"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						readonly="readonly" id="id_delete_semiweekly">
				</div>
				<div>
					<label for="responsible_party" class="block mb-2 text-xl font-medium text-gray-900">責任者</label>
					<input type="text" name="responsible_party"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						readonly="readonly" id="id_delete_responsible_party">
				</div>
				<div>
					<label for="address" class="block mb-2 text-xl font-medium text-gray-900">住所</label>
					<input type="text" name="address"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						readonly="readonly" id="id_delete_address">
				</div>
				<div>
					<label for="tel" class="block mb-2 text-xl font-medium text-gray-900">電話番号</label>
					<input type="text" name="tel"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						readonly="readonly" id="id_delete_tel">
				</div>
				<div>
					<label for="default_start_time"
						class="block mb-2 text-xl font-medium text-gray-900">開始時間（初期値）</label>
					<input type="text" name="default_start_time"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						readonly="readonly" id="id_delete_default_start_time">
				</div>
				<div>
					<label for="default_end_time" class="block mb-2 text-xl font-medium text-gray-900">終了時間（初期値）</label>
					<input type="text" name="default_end_time"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						readonly="readonly" id="id_delete_default_end_time">
				</div>
				<div>
					<label for="default_room" class="block mb-2 text-xl font-medium text-gray-900">使用施設（初期値）</label>
					<input type="text" name="default_room"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						readonly="readonly" id="id_delete_default_room">
				</div>
				<div>
					<label for="default_remarks" class="block mb-2 text-xl font-medium text-gray-900">備考（初期値）</label>
					<input type="text" name="default_remarks"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						readonly="readonly" id="id_delete_default_remarks">
				</div>
				<div>
					<label for="default_details" class="block mb-2 text-xl font-medium text-gray-900">利用内容（初期値）</label>
					<input type="text" name=""
						class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						readonly="readonly" id="id_delete_default_details">
				</div>
				<div class="hidden">
					<label for="public_hall" class="block mb-2 text-xl font-medium text-gray-900">公民館名</label>
					<input type="text" name="public_hall"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
						readonly="readonly" id="id_delete_public_hall">
				</div>
				<form id="form-cancel" class="mt-4 space-y-4 col-span-2" method="post">
					{% csrf_token %}
					<button type="submit"
						class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xl px-5 py-4 mt-4 text-center">
						削除
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	const Delete = (id) => {
		let element_form = document.querySelector('#form-cancel');
		let element_organization_name = document.querySelector("#id_delete_organization_name");
		let element_usage_category = document.querySelector("#id_delete_usage_category");
		let element_educational_category = document.querySelector("#id_delete_educational_category");
		let element_day_of_week = document.querySelector("#id_delete_day_of_week");
		let element_semiweekly = document.querySelector("#id_delete_semiweekly");
		let element_responsible_party = document.querySelector("#id_delete_responsible_party");
		let element_address = document.querySelector("#id_delete_address");
		let element_tel = document.querySelector("#id_delete_tel");
		let element_default_start_time = document.querySelector("#id_delete_default_start_time");
		let element_default_end_time = document.querySelector("#id_delete_default_end_time");
		let element_default_room = document.querySelector("#id_delete_default_room");
		let element_default_remarks = document.querySelector("#id_delete_default_remarks");
		let element_default_details = document.querySelector("#id_delete_default_details");
		let element_public_hall = document.querySelector("#id_delete_public_hall");



		// Delete処理パラメーター追加（form文）
		element_form.setAttribute("action",
			"/event_manager/userinformation/modal/" + id + "/delete"
		);

		// API経由でData取得
		const CreateEndPoint = "/api/event_manager/userinformation/" + id + "/";

		fetch(CreateEndPoint, {
			method: 'GET',
			headers: {
				'X-CSRFToken': getCookie('csrftoken'),
				'Content-Type': 'application/json',
			}
		})
			.then((response) => {
				return response.json(); // 読み込むデータをJSONに設定
			})
			.then((data) => {
				element_organization_name.value = data["organization_name"];
				element_usage_category.value = data["usage_category"]["value"];
				element_educational_category.value = data["educational_category"]["value"];
				element_day_of_week.value = data["day_of_week"]["value"];
				element_semiweekly.value = data["semiweekly"]["value"];
				element_responsible_party.value = data["responsible_party"];
				element_address.value = data["address"];
				element_tel.value = data["tel"];
				element_default_start_time.value = data["default_start_time"];
				element_default_end_time.value = data["default_end_time"];
				element_default_room.value = data["default_room"]["name"];
				element_default_remarks.value = data["default_remarks"];
				element_default_details.value = data["default_details"];
				element_public_hall.value = data["public_hall"]["name"];
			});

	};
</script>