{% extends 'base_common.html' %}
{% block title %} {{ page_title }}{% endblock %}
{% load humanize %}
{%block content %}
<div id="content">
	<section class="bg-white">
		<div class="flex flex-row py-4 px-4 mx-auto items-center justify-between">
			<h1 class="mb-2 text-4xl font-extrabold tracking-tight leading-none text-gray-900">
				{{ page_title }}一覧
			</h1>
			<!-- メッセージ -->
			{% if messages %} {% for message in messages %}
			<div class="bg-gray-50 border border-red-300 text-red-600 text-sm rounded-lg block w-1/2 p-2.5">
				{{ message }}
			</div>
			{% endfor %} {% endif %}

		</div>
	</section>

	<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
		<table class="w-full text-xl text-left rtl:text-right text-gray-500">
			<thead class="text-gray-700 uppercase bg-blue-50">
				<tr>
					<th scope="col" class="px-4 py-3">変更</th>
					<th scope="col" class="px-4 py-3">施設種類</th>
					<th scope="col" class="px-4 py-3">午前</th>
					<th scope="col" class="px-4 py-3">午後</th>
					<th scope="col" class="px-4 py-3">夜間</th>
					<th scope="col" class="px-4 py-3">午前(冷暖房)</th>
					<th scope="col" class="px-4 py-3">午後(冷暖房)</th>
					<th scope="col" class="px-4 py-3">夜間(冷暖房)</th>
				</tr>
			</thead>
			<tbody>
				{% for object in object_list %}
				<tr class="odd:bg-white even:bg-gray-50 border-b">
					<td class="px-4 py-4">
						<button type="button" class="modal-open-button font-medium text-blue-600"
							data-modal-hide="authentication-modal" data-modal-target="#update-modal"
							data-modal-id={{object.pk}}>

							<a href="#" class=" hover:underline">
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
									<path fill="currentColor"
										d="M21 12a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H5a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1m-15 .76V17a1 1 0 0 0 1 1h4.24a1 1 0 0 0 .71-.29l6.92-6.93L21.71 8a1 1 0 0 0 0-1.42l-4.24-4.29a1 1 0 0 0-1.42 0l-2.82 2.83l-6.94 6.93a1 1 0 0 0-.29.71m10.76-8.35l2.83 2.83l-1.42 1.42l-2.83-2.83ZM8 13.17l5.93-5.93l2.83 2.83L10.83 16H8Z" />
								</svg>
							</a>
					</td>
					<td class="px-4 py-4">{{ object.type }}</td>
					<td class="px-4 py-4">{{ object.time_fee_1 | intcomma }}円</td>
					<td class="px-4 py-4">{{ object.time_fee_2 | intcomma }}円</td>
					<td class="px-4 py-4">{{ object.time_fee_3 | intcomma }}円</td>
					<td class="px-4 py-4">{{ object.time_fee_1_with_air | intcomma }}円</td>
					<td class="px-4 py-4">{{ object.time_fee_2_with_air | intcomma }}円</td>
					<td class="px-4 py-4">{{ object.time_fee_3_with_air | intcomma }}円</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<!-- Modal Update -->
{% include 'common/modals/modal_usagefee_update.html' %}

<script type="text/javascript">
	//  モーダル制御用CallBack登録
	SetCallback(null,Update);
</script>
{% endblock %}