{% extends 'base.html' %}
{% block title %}
公民館ツール
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="h2">Welcome {{ user.login_user }} </div>
{% else %}
<a href="{% url 'accounts:login' %}" class="btn btn-primary">Login</a>
{% endif %}
<br>
  <form action="{% url 'accounts:logout' %}" method='post' name='logout'>
  {% csrf_token %}
    <button
      type="submit"
      class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
    >
      LogOut
    </button>
  </form>
{% endblock %}
