{% extends 'base_accounting.html' %}
{% block title %}公民館ツール：経理{%endblock %}
{% block content %}
<div id="content">
  <section class="bg-white relative">
    <div class="grid grid-cols-4 py-2 px-4 mx-auto justify-items-center">
      <div
        class="text-2xl font-extrabold tracking-tight leading-none text-gray-600"
      >
        {{ user.public_hall.name }}公民館
      </div>
      <!-- メッセージ -->
      <div>
        {% if messages %}
        <div
          class="bg-gray-50 border border-red-300 text-red-600 text-sm rounded-lg block p-2.5"
        >
          {% for message in messages %} {{ message }} {% endfor%}
        </div>
        {% endif %}
      </div>
      <!--収入合計-->
      <div class="flex justify-between items-center w-52">
        <div class="text-xl">収入合計：</div>
        <div class="text-xl text-gray-500">￥12,423</div>
      </div>
      <!--収入伝票-->
      <div class="space-y-2 flex items-center justify-items-center">
        <button
          type="button"
          data-modal-target="#create-modal"
          data-modal-toggle="authentication-modal"
          data-modal-id="0"
          class="modal-open-button inline-flex justify-center items-center p-2 text-xs font-medium text-center text-white rounded-lg bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300"
        >
          収入伝票作成
        </button>
      </div>
      <!--会計年度-->
      <div class="max-w-sm">
        <select
          id="select_fiscal_terms"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
        >
          <option selected value="none">会計年度選択</option>
          {% for fiscal_term in fiscal_term_objects %}
          <option value="{{ fiscal_term.id }}">{{ fiscal_term.name }}</option>
          {% endfor%}
        </select>
      </div>
      <!--現金出納帳-->
      <div class="max-w-sm">
        <select
          id="select_accounting_book"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
        >
          <option selected value="none">出納帳選択</option>
          {% for accounting_book in accounting_book_objects %}
          <option value="{{ accounting_book.id }}">{{ accounting_book.name }}</option>
          {% endfor%}
        </select>
      </div>
      <!--支出合計-->
      <div class="flex justify-between items-center w-52">
        <div class="text-xl">支出合計：</div>
        <div class="text-xl text-gray-500">￥123,423</div>
      </div>
      <!--支出伝票-->
      <div class="space-y-2 flex items-center justify-items-center">
        <button
          type="button"
          data-modal-target="#delete-modal"
          data-modal-toggle="authentication-modal"
          data-modal-id="0"
          class="modal-open-button inline-flex justify-center items-center p-2 text-xs font-medium text-center text-white rounded-lg bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-300"
        >
          支出伝票作成
        </button>
      </div>
    </div>
    <!-- プルダウンコンテンツ -->
    <button
      type="button"
      data-dropdown-toggle="dropdownAccountingDetail"
      class="dropdownbutton text-xs text-gray-500 hover:text-gray-500 font-medium rounded-lg px-5 py-1 absolute right-2 top-2"
    >
      詳細
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="m7 10l5 5l5-5"
        />
      </svg>
    </button>
    {% comment %} <div
      id="dropdownAccountingDetail"
      class="dropdownmenu z-10 hidden border-t border-dotted border-gray-400"
    >
      <div class="grid grid-cols-4 py-2 px-4 mx-auto justify-items-center">
        <div
          class="text-2xl font-extrabold tracking-tight leading-none text-gray-600"
        >
          {{ user.public_hall.name }}公民館
        </div>
        <!-- メッセージ -->
        <div>
          {% if messages %}
          <div
            class="bg-gray-50 border border-red-300 text-red-600 text-sm rounded-lg block p-2.5"
          >
            {% for message in messages %} {{ message }} {% endfor%}
          </div>
          {% endif %}
        </div>
        <!--収入合計-->
        <div class="flex justify-between items-center w-52">
          <div class="text-xl">収入合計：</div>
          <div class="text-xl text-gray-500">￥12,423</div>
        </div>
        <!--収入伝票-->
        <div class="space-y-2 flex items-center justify-items-center">
          <button
            type="button"
            data-modal-target="#create-modal"
            data-modal-toggle="authentication-modal"
            data-modal-id="0"
            class="modal-open-button inline-flex justify-center items-center p-2 text-xs font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300"
          >
            収入伝票作成
          </button>
        </div>
        <!--会計年度-->
        <form class="max-w-sm">
          <select
            id="fiscal_terms"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
          >
            <option selected>会計年度選択</option>
            {% for fiscal_term in fiscal_term_objects %}
            <option value="{{ fiscal_term.id }}">{{ fiscal_term.name }}</option>
            {% endfor%}
          </select>
        </form>
        <!--現金出納帳-->
        <form class="max-w-sm">
          <select
            id="accountign_book"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
          >
            <option selected>出納帳選択</option>
            <option value="US">あめりか</option>
            <option value="CA">Canada</option>
            <option value="FR">France</option>
            <option value="DE">Germany</option>
          </select>
        </form>
        <!--支出合計-->
        <div class="flex justify-between items-center w-52">
          <div class="text-xl">支出合計：</div>
          <div class="text-xl text-gray-500">￥123,423</div>
        </div>
        <!--支出伝票-->
        <div class="space-y-2 flex items-center justify-items-center">
          <button
            type="button"
            data-modal-target="#create-modal"
            data-modal-toggle="authentication-modal"
            data-modal-id="0"
            class="modal-open-button inline-flex justify-center items-center p-2 text-xs font-medium text-center text-white rounded-lg bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300"
          >
            支出伝票作成
          </button>
        </div>
      </div>
    </div> {% endcomment %}
  </section>

  <div class="max-w-6xl relative overflow-x-auto mx-auto">
    <table
      class="w-full text-xs text-center rtl:text-right text-gray-500 border-gray-500 border-x border-solid"
    >
      <thead class="text-gray-700">
        <tr class="border-gray-500 border-y border-solid bg-gray-200">
          <th
            scope="col"
            class="border-gray-500 border-x border-solid p-1 w-16"
          >
            詳細<br />変更
          </th>
          <th
            scope="col"
            class="border-gray-500 border-x border-solid p-1 w-16"
          >
            番号<br />固定
          </th>
          <th scope="col" class="border-gray-500 border-x border-solid p-1 w-8">
            月
          </th>
          <th scope="col" class="border-gray-500 border-x border-solid p-1 w-8">
            日
          </th>
          <th scope="col" class="border-gray-500 border-x border-solid p-1 w-8">
            項<br />(目)
          </th>
          <th scope="col" class="border-gray-500 border-x border-solid p-1 w-8">
            目<br />(節)
          </th>
          <th
            scope="col"
            class="border-gray-500 border-x border-solid p-1 w-40"
          >
            債権者<br />納入者
          </th>
          <th
            scope="col"
            class="border-gray-500 border-x border-solid px-6 py-2"
          >
            概　要
          </th>
          <th
            scope="col"
            class="border-gray-500 border-x border-solid p-1 w-16"
          >
            収入<br />番号
          </th>
          <th
            scope="col"
            class="border-gray-500 border-x border-solid p-1 w-16"
          >
            支出<br />番号
          </th>
          <th
            scope="col"
            class="border-gray-500 border-x border-solid px-6 py-2 w-32"
          >
            収入金額
          </th>
          <th
            scope="col"
            class="border-gray-500 border-x border-solid px-6 py-2 w-32"
          >
            支出金額
          </th>
          <th
            scope="col"
            class="border-gray-500 border-x border-solid px-6 py-2 w-32"
          >
            差引残高
          </th>
          <th scope="col" class="border-gray-500 border-x border-solid p-1 w-8">
            見<br />積
          </th>
          <th scope="col" class="border-gray-500 border-x border-solid p-1 w-8">
            領<br />収
          </th>
        </tr>
      </thead>
      <tbody id="AccountingList" class="text-xs">
        {% comment %} {% for object in object_list %} {% endcomment %}

        <tr class="border-gray-500 border-y border-solid">
          <td class="border-gray-500 border-x border-solid text-center">
            <button
              type="button"
              class="modal-open-button font-medium text-blue-600 mx-auto"
              data-modal-hide="authentication-modal"
              data-modal-target="#update-modal"
              data-modal-id="{{object.pk}}"
            >
              <a href="#" class="hover:underline">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="m18.988 2.012l3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287l-3-3L8 13z"
                  />
                  <path
                    fill="currentColor"
                    d="M19 19H8.158c-.026 0-.053.01-.079.01c-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2z"
                  />
                </svg>
              </a>
            </button>
          </td>
          <td class="border-gray-500 border-x border-solid text-center">
            <button type="button" class="font-medium text-gray-500 mx-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m0 16H5V5h14zM17.99 9l-1.41-1.42l-6.59 6.59l-2.58-2.57l-1.42 1.41l4 3.99z"
                />
              </svg>
            </button>
            <!--
						<button type="button" class="font-medium text-gray-500 mx-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M3 21V3h18v18zm2-2h14V5H5zm0 0V5z"
                />
              </svg>
            </button>
-->
          </td>

          <td class="border-gray-500 border-x border-solid text-center">10</td>
          <td class="border-gray-500 border-x border-solid text-center">19</td>
          <td class="border-gray-500 border-x border-solid text-center">
            市交
          </td>
          <td class="border-gray-500 border-x border-solid text-center">
            運営
          </td>
          <td class="border-gray-500 border-x border-solid text-center">
            ロリポップ
          </td>
          <td class="border-gray-500 border-x border-solid text-center">
            レンタルサーバー代
          </td>
          <td class="border-gray-500 border-x border-solid text-center"></td>
          <td class="border-gray-500 border-x border-solid text-center">1</td>
          <td
            class="border-gray-500 border-x border-solid text-right pr-1 text-xs"
          ></td>
          <td
            class="border-gray-500 border-x border-solid text-right pr-1 text-xs"
          >
            ￥11,000
          </td>
          <td
            class="border-gray-500 border-x border-solid text-right pr-1 text-xs"
          >
            -￥11,000
          </td>
          <td class="border-gray-500 border-x border-solid p-1 text-center">
            <!--
            <button type="button" class="font-medium text-red-500 mx-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m0 16H5V5h14zM17.99 9l-1.41-1.42l-6.59 6.59l-2.58-2.57l-1.42 1.41l4 3.99z"
                />
              </svg>
            </button>
					-->
            <button type="button" class="font-medium text-gray-500 mx-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M3 21V3h18v18zm2-2h14V5H5zm0 0V5z"
                />
              </svg>
            </button>
          </td>
          <td class="border-gray-500 border-x border-solid p-1 text-center">
            <button type="button" class="font-medium text-gray-500 mx-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m0 16H5V5h14zM17.99 9l-1.41-1.42l-6.59 6.59l-2.58-2.57l-1.42 1.41l4 3.99z"
                />
              </svg>
            </button>
            <!--
						<button type="button" class="font-medium text-gray-500 mx-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M3 21V3h18v18zm2-2h14V5H5zm0 0V5z"
                />
              </svg>
            </button>
-->
          </td>
        </tr>

        {% comment %} {% endfor %} {% endcomment %}
      </tbody>
    </table>
    <div class="hidden bg-red-100 border border-red-400 text-2xl text-red-700 px-4 py-3 mt-8 rounded font-bold" role="alert" id="warning_message">
    </div>
  </div>
</div>
<!-- Modal 収入伝票作成 -->
{% include 'accounting/modals/modal_income_record_create.html' %}
<!-- Modal 支出伝票作成 -->
{% include 'accounting/modals/modal_spending_record_create.html' %}
<!-- Modal 詳細変更 -->
{% include 'accounting/modals/modal_cash_book_update.html' %}

<script type="text/javascript">
  const onStartEvent = (event) => {
    console.log("onStart!!");
  };

  const onEndEvent = (event) => {
    console.log("onEnd!!");
  };

  const onChangeEvent = (event) => {
    console.log("onChange!!");
  };

  const onSortEvent = (event) => {
    console.log("onSort!!");
  };

  new Sortable(AccountingList, {
    multiDrag: true, // Enable multi-drag
    selectedClass: "selected", // The class applied to the selected items
    fallbackTolerance: 3, // So that we can select items on mobile
    animation: 150,
    onStart: onStartEvent, // 2-1, ドラッグ開始時
    onEnd: onEndEvent, // 2-2, ドラッグ終了時
    onChange: onChangeEvent, // 2-3, ドラッグ変化時
    onSort: onSortEvent, // 2-4, 並び替え終了時
  });

  //  モーダル制御用CallBack登録
  SetCallback( IncomeSlipCreate, ExpenditureSlipCreate, CashBookUpdate);
  // 本来は支出伝票作成はCreate処理なのだが、今回はDelete用のCallBack関数登録を行い、MoalOpen時にCallBack処理を行う。


   // Warning Message
  const element_warning_message = document.querySelector('#warning_message');

  // 会計年度と出納帳の選択状況
  const element_fiscal_terms = document.querySelector('#select_fiscal_terms');
  const element_accounting_book = document.querySelector('#select_accounting_book');

  let  fiscal_terms_value = 'none';
  let  accounting_book_value = 'none';

  const SetWarningMessage =()=>{
    if (fiscal_terms_value=='none'){
      element_warning_message.textContent ="会計年度を選択してください！";
      element_warning_message.classList.remove("hidden");

    }else if(accounting_book_value=='none'){
      element_warning_message.textContent ="出納帳を選択してください！";
      element_warning_message.classList.remove("hidden");
    }else{
      element_warning_message.textContent ="";
      element_warning_message.classList.add("hidden");
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    fiscal_terms_value = 'none';
    accounting_book_value = 'none';
    SetWarningMessage();

    element_fiscal_terms.addEventListener("change", (event) => {
      fiscal_terms_value = event.target.value;
      SetWarningMessage();
    });
    element_accounting_book.addEventListener("change", (event) => {
      accounting_book_value = event.target.value;
      SetWarningMessage();
    });
  });

  // モーダル表示前のチェック
  const CheckAccountingBook =() =>{
    return ((fiscal_terms_value=='none')|| (accounting_book_value=='none'));
  }
  SetPreCheckCallBack(CheckAccountingBook);

</script>


{% endblock %}
