{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script src="{% static 'js/lazyload.min.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'img/favicon.ico' %}"
    />
    <title>{% block title %} {% endblock %}</title>
    <!--ドロップダウンメニュー用-->
    <style>
      .arrow {
        transform: rotate(180deg);
        transition: 0.2s ease;
      }
    </style>
  </head>
  <body>
    <div class="container mx-auto text-center">
      {% block content %} {% endblock %}
    </div>
    <script>
      lazyload();
    </script>
  </body>
</html>
