{% extends 'base.html' %}
{% block title %}
{% if user.is_authenticated %}
<div class="h1">MyPage</div>
{% else %}
<div class="h1">Main</div>
{% endif %}
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="h2">Welcome {{ user.name }}{{ user.public_hall }}</div>
<form id="logout-form" method="post" action="{% url 'accounts:logout' %}">
  {% csrf_token %}
  <button type="submit">Log out</button>
</form>
{% else %}
<a href="{% url 'accounts:signup' %}" class="btn btn-primary">Signup</a>
{% endif %}
{% endblock %}
