{% extends 'base_accounting_childwindow.html' %}
{% block title %}公民館ツール：経理{%endblock %}
{% block content %}

<div class="p-4 w-full max-w-4xl max-h-full">
  <!-- Modal content -->
  <div class="bg-white rounded-lg shadow">
    <!-- Modal header -->
    <div
      class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
    >
      <h3 class="text-xl font-semibold text-gray-900">収入伝票作成</h3>
      <button
        type="button"
        class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
        onclick="window.close();"
      >
        <svg
          class="w-3 h-3"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
        <span class="sr-only">Close</span>
      </button>
    </div>
    <!-- Modal body -->
    <div class="p-4 md:p-5">
      <form
        class="space-y-4 grid grid-cols-2 gap-4"
        method="post"
        id="form-income-create"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="hidden">
          {{ formset_income_page_create.as_p }}
        </div>
        <div>
          <label
            for="fixed_number"
            class="block mb-2 text-xl font-medium text-gray-900"
            >番号を固定する</label
          >
          {{ form_income_create.fixed_number }}
          {{ form_income_create.fixed_number.errors }}
        </div>

        <div>
          <label
            for="number"
            class="block mb-2 text-xl font-medium text-gray-900"
            >収入番号<span class="text-xs"
              >(番号固定しない場合は記入不要）</span
            ></label
          >
          {{ form_income_create.number }}
          {{ form_income_create.number.errors }}
        </div>
        <div>
          <label for="date" class="block mb-2 text-xl font-medium text-gray-900"
            >日付</label
          >
          {{ form_income_create.date }}
          {{ form_income_create.date.errors }}
        </div>
        <div>
          <label
            for="subject_income"
            class="block mb-2 text-xl font-medium text-gray-900"
            >収入科目</label
          >
          {{ form_income_create.subject_income }}
          {{ form_income_create.subject_income.errors }}
        </div>
        <div>
          <label
            for="section_income"
            class="block mb-2 text-xl font-medium text-gray-900"
            >収入節</label
          >
          {{ form_income_create.section_income }}
          {{ form_income_create.section_income.errors }}
        </div>
        <div>
          <label
            for="description"
            class="block mb-2 text-xl font-medium text-gray-900"
            >摘要</label
          >
          {{ form_income_create.description }}
          {{ form_income_create.description.errors }}
        </div>
        <div>
          <label
            for="amount"
            class="block mb-2 text-xl font-medium text-gray-900"
            >金額</label
          >
          {{ form_income_create.amount }}
          {{ form_income_create.amount.errors }}
        </div>
        <div>
          <label for="memo" class="block mb-2 text-xl font-medium text-gray-900"
            >メモ（印刷対象外)</label
          >
          {{ form_income_create.memo }}
          {{ form_income_create.memo.errors }}
        </div>
        <div>
          <label
            for="notice1"
            class="block mb-2 text-xl font-medium text-gray-900"
            >通知書１</label
          >
          {{ form_income_create.notice1 }}
          {{ form_income_create.notice1.errors }}
        </div>
        <div>
          <label
            for="notice2"
            class="block mb-2 text-xl font-medium text-gray-900"
            >通知書１</label
          >
          {{ form_income_create.notice2 }}
          {{ form_income_create.notice2.errors }}
        </div>
        <div>
          <label
            for="supplier"
            class="block mb-2 text-xl font-medium text-gray-900"
            >納入者</label
          >
          {{ form_income_create.supplier }}
          {{ form_income_create.supplier.errors }}
        </div>
        <button
          type="submit"
          id="submit_button"
          class="w-full col-span-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xl px-5 py-4 mt-4 text-center"
        >
          新規作成
        </button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {


    let element_form = document.querySelector("#form-income-create");
    let element_public_hall = document.querySelector("#id_pagemanager_income_create_public_hall");
    let element_accounting_book = document.querySelector("#id_pagemanager_income_create_accounting_book");
    let element_fiscal_terms = document.querySelector("#id_pagemanager_income_create_fiscal_terms");
    let element_income_select = document.querySelector("#id_pagemanager_income_create_income_select");
    let element_submit_button = document.querySelector("#submit_button");


  // Create処理パラメーター追加（form文）
    fiscal_terms = {{fiscal_terms}};
    accounting_book = {{ accounting_book }};
    record_number = {{ record_number }};
    element_form.setAttribute("action","{% url 'accounting:create_incomerecord' fiscal_terms, accounting_book, record_number %");
    SetSelect(element_fiscal_terms.options, fiscal_terms );
    SetSelect(element_accounting_book.options, accounting_book );
    SetSelect(element_income_select.options, '1');
    SetSelect(element_public_hall.options, {{ user.public_hall.number }});
    document.querySelector("#id_pagemanager_income_create_number").value = record_number;

  });
</script>
{% endblock %}
