{% extends 'base_accounting_childwindow.html' %}
{% block title %}公民館ツール：経理{%endblock %}
{% block content %}

<div class="p-4 w-full max-w-4xl max-h-full">
  <!-- Modal content -->
  <div class="bg-white rounded-lg shadow">
    <!-- Modal header -->
    <div
      class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
    >
      <h3 class="text-xl font-semibold text-gray-900">収入伝票　変更</h3>
      <button
        type="button"
        class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
        onclick="window.close();"
      >
        <svg
          class="w-3 h-3"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
        <span class="sr-only">Close</span>
      </button>
    </div>
    <!-- Modal body -->
    <div class="p-4 md:p-5">
      <form
        class="space-y-4 grid grid-cols-2 gap-4"
        method="post"
        id="form-income-update"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div>
          <label
            for="fixed_number"
            class="block mb-2 text-xl font-medium text-gray-900"
            >番号を固定する</label
          >
          {{ form.fixed_number }}
          {{ form.fixed_number.errors }}
        </div>

        <div>
          <label
            for="number"
            class="block mb-2 text-xl font-medium text-gray-900"
            >収入番号<span class="text-xs"
              >(番号固定しない場合は記入不要）</span
            ></label
          >
          {{ form.number }}
          {{ form.number.errors }}
        </div>
        <div>
          <label for="date" class="block mb-2 text-xl font-medium text-gray-900"
            >日付</label
          >
          {{ form.date }}
          {{ form.date.errors }}
        </div>
        <div>
          <label
            for="subject_income"
            class="block mb-2 text-xl font-medium text-gray-900"
            >収入科目</label
          >
          {{ form.subject_income }}
          {{ form.subject_income.errors }}
        </div>
        <div>
          <label
            for="section_income"
            class="block mb-2 text-xl font-medium text-gray-900"
            >収入節</label
          >
          {{ form.section_income }}
          {{ form.section_income.errors }}
        </div>
        <div>
          <label
            for="description"
            class="block mb-2 text-xl font-medium text-gray-900"
            >摘要</label
          >
          {{ form.description }}
          {{ form.description.errors }}
        </div>
        <div>
          <label
            for="amount"
            class="block mb-2 text-xl font-medium text-gray-900"
            >金額</label
          >
          {{ form.amount }}
          {{ form.amount.errors }}
        </div>
        <div>
          <label for="memo" class="block mb-2 text-xl font-medium text-gray-900"
            >メモ（印刷対象外)</label
          >
          {{ form.memo }}
          {{ form.memo.errors }}
        </div>
        <div>
          <label
            for="notice1"
            class="block mb-2 text-xl font-medium text-gray-900"
            >通知書１</label
          >
          {{ form.notice1 }}
          {{ form.notice1.errors }}
        </div>
        <div>
          <label
            for="notice2"
            class="block mb-2 text-xl font-medium text-gray-900"
            >通知書１</label
          >
          {{ form.notice2 }}
          {{ form.notice2.errors }}
        </div>
        <div>
          <label
            for="supplier"
            class="block mb-2 text-xl font-medium text-gray-900"
            >納入者</label
          >
          {{ form.supplier }}
          {{ form.supplier.errors }}
        </div>
        <button
          type="submit"
          id="submit_button"
          class="w-full col-span-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xl px-5 py-4 mt-4 text-center"
        >
          更新
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
