<div
  id="delete-modal"
  tabindex="-1"

  class="js-modal hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full h-[calc(100%-1rem)] max-h-full bg-gray-500/50"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
      >
        <h3 class="text-xl font-semibold text-gray-900">{{ page_title }}削除</h3>
        <button
          type="button"
          class="modal-close-button end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
          data-modal-hide="authentication-modal"
          data-modal-target="#delete-modal"
        >
          <svg
            class="w-3 h-3"

            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4">
        <div class="mb-4 text-2xl bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">注意！</strong>
          <span class="block">下記の内容が削除されます。</span>
        </div>
        <div>
          <label
            for="name"
            class="block mb-2 text-xl font-medium text-gray-900"
            >社名</label
          >
          <input type="text" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" readonly="readonly" id="id_delete_name">
        </div>
        <div>
          <label
            for="address"
            class="block mb-2 text-xl font-medium text-gray-900"
            >住所</label
          >
          <input type="text" name="address" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" readonly="readonly" id="id_delete_address">
        </div>
        <div class="hidden">
          <label
            for="public_hall"
            class="block mb-2 text-xl font-medium text-gray-900"
            >公民館名</label
          >
          <input type="text" name="public_hall" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" readonly="readonly" id="id_delete_public_hall">
        </div>
        <form id="form-cancel" class="mt-4 space-y-4" method="post">
          {% csrf_token %}
          <button
            type="submit"
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xl px-5 py-4 mt-4 text-center"
          >
            削除
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  const Delete = ( id )=>
  {
    let element_form = document.querySelector('#form-cancel');
    let element_name = document.querySelector('#id_delete_name');
    let element_address = document.querySelector('#id_delete_address');
    let element_public_hall = document.querySelector('#id_delete_public_hall');


    // Delete処理パラメーター追加（form文）
    element_form.setAttribute("action","/accounting/creditor/modal/"+id+"/delete");

    // API経由でData取得
    const CreateEndPoint ="/api/accounting/creditor/"+id+"/";

    fetch(CreateEndPoint, {
      method: 'GET',
      headers: {
        'X-CSRFToken': getCookie('csrftoken'),
        'Content-Type': 'application/json',
      }
    })
    .then((response) => {
        return response.json(); // 読み込むデータをJSONに設定
    })
    .then((data) => {
        element_name.value= data["name"];
        element_address.value= data["address"];
        element_public_hall.value= data["public_hall"]["name"];
    });

  };
</script>
